@using ESportSchool.Web.ViewModels;
@model AuthorizationViewModel;

    <form asp-controller="Account" asp-action="Login" method="post">
        <label>Email</label>
        <input type="email" name="Email" @Html.ValueFor(m => m.Email)/>
        <label>Password</label>
        <input type="password" name="Password" @Html.ValueFor(m => m.Password)/>
        <input type="submit" />
    </form>